*{
    box-sizing: border-box;
    margin: 0px;
    padding : 0px;
}
body{
    font: poppins;
}
#main{  
    width: 100%;
    height:20vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: rgb(90, 135, 225);*/
    background-image: url(images.jpg);
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    z-index: 1;
    background-repeat: no-repeat;
}
.logo img{
    height: 48px;
    width: 90px;
    margin-top: 10px;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li a{
    height: 30px;
    line-height: 5px;
    margin: 10px;
    padding: 0px 22px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(200, 39, 39, 0.88);
}
.menu li a:hover{
    background-color: #23cdaf;
    color:white;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
    transition: all ease 0.2s;
}
a{
    text-decoration: none;
}

.content{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.image{
    height: 370px;
    width: 350px;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
}
.main-text{
    width: 500px;
}
.main-text h1{
    font-size: 3.5em;
    color: #e7be18;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
    text-shadow: 2px 2px #1281b5;;
}
.main-text p{
    color: rgb(103, 8, 119);
    font-style: oblique;
    font-size: 15px;

}

.resume-btn{
    background-color: #1db096;
    color: white;
    width: 190px;
    height: 44px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
}
.resume-btn:hover{
    background-color: #23cdaf;
    transition: all ease 0.2s;
}
/*when screen is below or equal max-width then do the code inside braces*/
@media only screen and (max-width: 414px){
    .image{
        height: 170px;
        width: 150px;
    }
}
