*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 10px;
    font: poppins;
}
#main{  
    width: 100%;
    height:20vh;
    position: relative;
}
strong{
    font-size: 35px;
}
a{
    text-decoration: none;
}
span{
    opacity: 0;
}
p{
    font-size: 25px;
    font-style: oblique;
    color: red;
}

ol li a{
    text-decoration: none;
    height: 30px;
    line-height: 5px;
    margin: 10px;
    padding: 0px 22px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(200, 39, 39, 0.88);
}
ol li a:hover{
    background-color: #23cdaf;
    color:white;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
    transition: all ease 0.2s;
}
.home-btn{
    background-color: #1db096;
    color: white;
    width: 190px;
    height: 44px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
}
.home-btn:hover{
    background-color: #23cdaf;
    transition: all ease 0.2s;
}
.home-btn:hover .lol{
    opacity: 1;
}
